/* Réinitialisation des styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
/* Déclaration de la couleur dominante */
:root {
    --couleur-dominante: rgb(164, 222, 206); /* Vert vif */
}
/* Styles pour le corps de la page */
body{
     background: lightblue;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}
/* Styles pour le conteneur principal */
.container{
    position: relative;
    width: 800px;
    min-height: 1000px;
    background: #fff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0, 0.1);
}

  
/* Styles pour la section de gauche */
.container .left-side{
    position: relative;
    background: var(--couleur-dominante);
    margin-left: 15%;
    /* height: 100%; */
    margin-right: 15px;
}
/* Styles pour la section de profil */
.profile{
    /* position: relative; */
    display: flex;
    height: 300px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: black;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}


.profile .imgBox{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 100px;
    border-radius: 60%;
    border-color: #fff;
    border: 2rem;
    overflow: hidden;

}
.profile .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile h2{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4rem;
}
.profile h2 span{
    font-size: 0.7rem;
    font-weight: 300;
}
.box h3 {
    font-size: 18px;
}
/* Styles pour la section de contact */
.contact {
    margin-top: 25%;
    text-align: center;
}
.title{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}
.title .icon{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: -30px;
    border-radius: 6%;
    border: 2rem;
    font-size: 12px;
    overflow: hidden;
 
}
.contact_child{
    display: flex;
    justify-content: center;
}
.contact_child h3{
    margin-top: 3.5px;
    margin-left: 5px;
}
.contact ul li  {
    font-weight: 300;
    padding: 4px;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contact ul li span {
    position: relative;
    cursor: pointer;
    font-weight: 300;
    color: #0c0b0b;
}
/* Styles pour la section d'informations */
.info{
    position: absolute;
    background: black;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    text-align: center;
    align-items: center;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}
.info .title{
    color: #fff;
}
.info ul li span {
    position: relative;
    list-style: none;
    cursor: pointer;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
}
/* Styles pour la section de formation */
.formation {
    position: relative;
    top: 95px;
}
.formation ul li span {
    position: relative;
    list-style: none;
    cursor: pointer;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.info ul li {
    position: relative;
    margin: 12px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}
.formation ul li span{
    color: #fff;
    font-weight: 300;
}
.langue{
    position: relative;
    top: 190px;
}
.container .right-side{
    position: relative;
    background: #fff;
    margin-right: 15%;
    margin-top: 4%;
   
}
.iconInfo1, .iconInfo2{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;

}
.iconInfo1{
    border: 2px solid white;
    background-color: black;
}
.iconInfo2{
    border: 2px solid black;
    background-color: white;
}

.about:last-child
{
    color: black;
    letter-spacing: 1px;
    margin-bottom: 6%;
}
p{
    color: #0c0b0b;
    font-size: 18px;
}

.about ul {
    position: relative;
    font-size: 20px;
    margin-left: 10%;
    margin-bottom: 6px;
}
.about .box .date{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

/* Styles pour les médias query */

@media screen and (max-width: 650px) {
    
        .container{
            grid-template-columns: repeat(1, 1fr);
            max-height: 100%;
            position: relative;
       }
       .container .left-side{
            margin: 0;
            /* height: 10vh; */
       }
       .container .right-side{
        margin-right: 0%;
       }
       
       .profile{
        border-bottom-left-radius: 250px;
        border-bottom-right-radius: 250px;
        height: 355px;
       }
       .info{
        border-top-left-radius: 250px;
        border-top-right-radius: 250px;
        height: 350px;
       }
       .formation{
        top: 55px;
       }
       .langue{
        top: 65px;
       }
       .profile h2{
        font-size: 25px;
       }
       .profile h2 span{
        font-size: 18px;
       }
       .title{
        font-size: 25px;
       }
       .contact{
        margin-top: 10%;
        height: 550px;
        font-size: 22px;
       }
       .contact_child h3{
        margin-top: 0;
        font-size: 25px;
       }
       .contact ul li span{
        font-size: 24px;
       }
       .info ul li{
        font-size: 15px;
       }
       .about .title2{
        font-size: 30px;
       }
       .title2{
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        margin-bottom: 10px;
        align-items: center;
      }
      .name{
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }
  .title2{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  
/* Styles pour la boîte contenant les titres */
.name{
    display: flex;
    /* justify-content: space-between; */
    align-items:center;
    margin-bottom: 6px;
}